<!doctype html>
<html lang="en">
<head>
<% include metas %>
<title>Primavera de los Realizadores</title> 
</head>

<body id="reserve">

<% include nav %>

<div class="container">
	<header>
            <a href="/">
                <img src="/img/logo.png" id="logo">
            </a>
                <h1><a href="/">Primavera de los Realizadores</a></h1>
                <h2>April 16, 17 and 18. Instituto Cervantes. New York.<br><%= message %></h2>
                <figure><img src="/img/mainImg-01.png" id="perroAndalous" alt="Un Perro Andalus"></figure>
  </header>
	<section id="main">
		<div id="step1">
			<header><h4>STEP 1: Verify your email</h4></header>	
			<p><span class="label label-warning">...</span></p>
			<form class="pure-form">
			  <fieldset>
        		<legend>Verify your email *</legend>
			    <input type="email" id="email1" placeholder="Enter email" name="email1" required class="pure-input-rounded">
			    <input type="email" id="email2" placeholder="Verify your email" name="email2" required class="pure-input-rounded">
			  </fieldset>
			  <button type="submit" id="SubmitVerify">Verify</button>
			</form>	
		</div>
		<div id="step2">
			<header><h4>STEP 2: Your personal information</h4></header>	

			<p><span class="label label-success">...</span></p>
			<p><span class="label label-warning">...</span></p>

			<form class="pure-form">
			  <fieldset>
			  	<legend id="persInfoLegend">Your personnal information *</legend>
			  	<input type="hidden" id="participantId" name="participantId">
			    <input type="text" id="fname" name="fname" placeholder="Your First Name" required class="pure-input-rounded">
			    <input type="text" id="lname"  name="lname" placeholder="Your Last Name" required class="pure-input-rounded">
			  </fieldset>
			  <legend>Choose your activity *</legend>
			  <select id="selectAct">
			  	<% if (activities) { %>
				<% for (var i=0; i<activities.length; i++){ %>
					<option id="activityId" data-id="<%= activities[i].id %>" <%= activities[i].getFull() ? 'disabled' : '' %> <%= activities[i].id == actId && activities[i].getFull() == false ? 'selected' : '' %>> <%=activities[i].get('title')%> <%= activities[i].getFull() ? 'FULL' : '' %></option>
				<% } %>
				<% } %>
			  </select>
			 </fieldset>
			  <button type="submit" id="SubmitRegister">Register</button>
			</form>	
		</div>
		<div id="step3">
			<header><h4>STEP 3: That's it!</h4></header>
			<p><span class="label label-warning">...</span></p>	
			<p><span class="label label-success">Thanks for registering</span></p>
		</div>
	</section>
	<footer><% include footer %></footer>
</div>

<!-- Javascripts  THAT IS INCLUDED IN THE HEADER NOW
 <script src="http://www.parsecdn.com/js/parse-1.3.0.min.js"></script>	
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="js/menu.js"></script>

 NOT THIS THOUGH -->
 <!--script src="js/parse-functions.js"></script-->
 <!--script src="js/parse.js"></script-->
 <script type="text/javascript">
 $(document).ready(function(){

 	$('#SubmitVerify').on('click',function(e){
 		e.preventDefault();
 		var email1 = $('#email1').val();
 		var email2 = $('#email2').val();
 		if (email1){
 			if (email2){
		 		$.ajax({
		 			url:'/ajax/processStep1',
		 			type:'POST',
		 			dataType:'json',
		 			data:{
		 				actId:'<%= actId %>',
		 				email1:email1,
		 				email2:email2,
		 			},
		 			success: function(data){
					    // 
		 				if (data.success){
		 					
		 					//populate the user data:
		 					$('#participantId').val(data.participant.objectId);
		 					$('#fname').val(data.participant.fname);
	 						$('#lname').val(data.participant.lname);
	 						
	 					// 
		 				}else{
		 					//alert('you are not in our database');
		 				}
		 				$('#step1').fadeOut('fast', function(){
		 					$('#step2').fadeIn();
		 				});
	 					
	 					//$('#step1').fadeOut();
		 			},
		 			error:function(error){}
		 		});
		 	}else{
		 		$('#step1 .label-warning').html('Your emails do not match');
		 	}
 		}else{
 			$('#step1 .label-warning').html('Please provide an email');
 		}
 	});

 	$('#SubmitRegister').on('click',function(e){
 		e.preventDefault();

 		//alert($('#participantId').val());

 		var fname = $('#fname').val();
 		var lname = $('#lname').val();
 		var participantId = $('#participantId').val();
 		var activity = $('#selectAct option:selected').attr("data-id");

 		//alert(activity);

 		if (fname && lname){
 			$.ajax({
		 			url:'/ajax/processStep2',
		 			type:'POST',
		 			dataType:'json',
		 			data:{
		 				actId:'<%= actId %>',
		 				fname:fname,
		 				lname:lname,
		 				participantId: participantId,
		 				activity: activity,
		 			},
		 			success: function(data){
					    // 
		 				if (data.success){
		 					$('#step3 .label-success').html('<p>Thanks for registering to '+data.activityTitle+'.</p><p>Date:'+data.activityDate+'.</p><p>Location:<a href="http://nyork.cervantes.es/en/default.shtm" target="_blank">Instituto Cervantez</a>:<br>211 E 49th St, New York, NY 10017<br>(212) 308-7720</p><p>Make sure you arrive on time, we will be checking your name at the entrance, please bring a photo ID.<br> We look forward to seeing you!</p>');
	 						$('#step2').fadeOut('fast', function(){
			 					$('#step3').fadeIn();
			 				});
	 					// 
		 				}else{
		 					$('#step2 .label-warning').html('You are already registered to this activity, please choose another one.');
		 				}

	 					//$('#step1').fadeOut();
		 			},
		 			error:function(error){
		 				alert('Failed: '+error.message);
		 			}
		 		});
		 	}else{
		 		$('#step2 .label-warning').html('provide name and last name');
		 	}
 	});

 });

 </script>
	
</body>
</html>
