<!doctype html>
<html lang="en">
<head>
<% include metas %>
<title>Primavera de los Realizadores</title> 
</head>

<body id="schedule">

<% include nav %>

<div class="container">
	<header>
		<div id="logoImg">
            <a href="#">
                <img src="/img/logo.png">
            </a>
        </div>
        <div id="logoTxt">
                <h1><a href="#">Primavera de los<br>Realizadores</a></h1>
                <h4>New York City</h4>
        </div>
	</header>
	<section id="featured">
		<h2>April 16, 17 and 18. Instituto Cervantes. New York.</h2>
		<p><%= message %></p>
		<div id="leadImg">
			<img src="/img/mainImg-01.png">
		</div>
	</section>
	<section id="main">
		<table cellpadding="10">
			<tr>
				<td class="flor"></td>
				<th>DAY 1: <small>April 16</small></th>
				<th>DAY 2: <small>April 17</small></th>
				<th>DAY 3: <small>April 18</small></th>
			</tr>
			<tr class="workshopsRow">
				<td class="flor">
					<img src="/img/featworkshop.jpg">
				</td>
				<% if (workshops) { %>
				<% for (var i=0; i<workshops.length; i++){ %>
				<td>
					<div class="details">
						<h4><a href="/details-activity/<%= workshops[i].id %>"><%=workshops[i].get('title')%></a></h4>
						<p>
							<% var staffs = workshops[i].get('staffID') %>
							<% for (var j=0; j<staffs.length; j++){ %>
								<a href="/staff/<%= staffs[j].id %>"><%= staffs[j].get('fname') %> <%= staffs[j].get('lname') %></a>,
							<% } %>
						</p>
						<p><%=workshops[i].get('date')%></p>
						<p class="intro"><%=workshops[i].get('desc')%></p>
						<a href="http://festival.parseapp.com/reserve/<%= workshops[i].id %>" class="button">Reserve</a>
					</div>
				</td>
				<% } %>
				<% } %>
			</tr>
			<tr class="moviesRow">
				<td class="flor">
					<img src="/img/featmovie.jpg">
				</td>
				<% if (movies) { %>
				<% for (var i=0; i<movies.length; i++){ %>
				<td>
					<div class="details">
						<h4><a href="/details-activity/<%= movies[i].id %>"><%=movies[i].get('title')%></a></h4>
						<p>
							<% var staffs = movies[i].get('staffID') %>
							<% for (var j=0; j<staffs.length; j++){ %>
								<a href="/staff/<%= staffs[j].id %>"><%= staffs[j].get('fname') %> <%= staffs[j].get('lname') %></a>, 
							<% } %>
						</p>
						<p><%=movies[i].get('date')%></p>
						<p class="intro"><%=movies[i].get('desc')%></p>
						<a href="http://festival.parseapp.com/reserve/<%= movies[i].id %>" class="button">Reserve</a>
					</div>
				</td>
				<% } %>
				<% } %>
			</tr>
			<tr class="debatesRow">
				<td class="flor">
					<img src="/img/featdebate.jpg">
				</td>
				<% if (debates) { %>
				<% for (var i=0; i<debates.length; i++){ %>
				<td>
					<div class="details">
						<h4><a href="/details-activity/<%= debates[i].id %>"><%=debates[i].get('title')%></a></h4>
						<p>
							<% var staffs = debates[i].get('staffID') %>
							<% for (var j=0; j<staffs.length; j++){ %>
								<a href="/staff/<%= staffs[j].id %>"><%= staffs[j].get('fname') %> <%= staffs[j].get('lname') %></a>,
							<% } %>
						</p>
						<p><%=debates[i].get('date')%></p>
						<p class="intro"><%=debates[i].get('desc')%></p>
						<a href="http://festival.parseapp.com/reserve/<%= debates[i].id %>" class="button">Reserve</a>
					</div>
				</td>
				<% } %>
				<% } %>
			</tr>
		</table>
	</section>
	<footer><% include footer %></footer>
</div>

<!-- Javascripts  THAT IS INCLUDED IN THE HEADER NOW
 <script src="http://www.parsecdn.com/js/parse-1.3.0.min.js"></script>	
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="js/menu.js"></script>

 NOT THIS THOUGH -->
 <!--script src="js/parse-functions.js"></script-->
 <!--script src="js/parse.js"></script-->

	
</body>
</html>